<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.mybatis.MyMapper">
    <!--namespace要保证唯一，一般可以使用dao接口的路径，当然不是必须，只要保证唯一即可 -->
    <select id="selectNextLink" resultType="String">
        select link
        from LINK_TO_BE_PROCESSED
        limit 1
    </select>
    <select id="countLink" parameterType="String" resultType="int">
        select count(*)
        from LINK_ALREADY_PROCESSED
        where link = #{link}
    </select>
    <select id="insertNews" parameterType="com.github.crawler.News">
        insert INTO NEWS (url, title, content, created_at, modified_at)
        values (#{url}, #{title}, #{content}, now(), now())
    </select>
    <select id="insertLink" parameterType="HashMap">
        insert INTO
        <choose>
            <when test="tableName == 'LINK_TO_BE_PROCESSED'">
                LINK_TO_BE_PROCESSED
            </when>
            <otherwise>
                LINK_ALREADY_PROCESSED
            </otherwise>
        </choose>
        (link)values(#{link})
    </select>
    <select id="deleteLink" parameterType="String">
        delete
        from LINK_TO_BE_PROCESSED
        where link = #{link}
    </select>
</mapper>

